.edu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .education-title {
    width: fit-content;
    font-size: 60px;
    color: #58181f;
    border-bottom: 4px solid burlywood;
    margin-bottom: 40px;
  }
  .edu-intro {
    color: #58181f;
    text-align: center;
    width: 500px;
  }
  .level-1 {
    h3 {
      width: fit-content;
      color: #58181f;
      border-bottom: 4px solid burlywood;
      margin-bottom: 40px;
    }
    p {
      color: #58181f;
    }
    margin: 30px 30px;
    max-width: 800px;
  }
  a {
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #58181f;
    margin-top: 20px;
    transition: 0.4s ease-in-out;
    &:hover {
      background-color: rgba(88, 24, 31, 0.7);
      color: burlywood;
      transform: scale(1.05);
    }
  }
}
