.catalogue-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    font-size: 60px;
    color: #58181f;
    border-bottom: 4px solid burlywood;
    margin-bottom: 40px;
    text-align: center;
    max-width: fit-content;
  }
  p {
    text-align: center;
    max-width: 500px;
  }
}

a {
  text-decoration: none;
}

.filter-1 {
  overflow-y: scroll;
  overflow-x: scroll;
  position: fixed;
  margin-left: 180px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: burlywood;
  padding-bottom: 30px;
  border-radius: 15px;
  p {
    margin: 20px;
  }
  #filter {
    padding: 0;
    background-color: #58181f;
    color: white;
  }
}

.Slide {
  transition: 0.4s ease-in-out;
  &:hover {
    transform: scale(1.02);
    cursor: pointer;
  }
}
.wine-card {
  display: flex;
  width: 700px;
  height: 320px;
  border-radius: 10px;
  margin: 30px auto;
  box-shadow: 0 3px 10px rgb(222, 184, 135);
  transition: 0.4s ease-in-out;
  &:hover {
    transform: scale(1.02);
    cursor: pointer;
  }
  .wine-top {
    display: flex;
    img {
      width: 100px;
      margin: 10px;
    }
    h3 {
      margin-top: 20px;
      color: black;
    }
  }
  .wine-origin {
    color: black;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 450px;
    img {
      width: 30px;
      height: 30px;
      border-radius: 100%;
      margin-left: 10px;
    }
    h3 {
      margin-top: 20px;
      margin-bottom: 50px;
    }
    .wine-flag {
      h4 {
        text-transform: uppercase;
        color: burlywood;
      }
      display: flex;
    }
  }
  .wine-price {
    max-height: 100px;
    max-width: 320px;
    h5 {
      text-align: center;
      margin-top: 140px;
      margin-right: 20px;
      background-color: #58181f;
      color: white;
      padding: 20px;
      border-radius: 50px;
    }
  }
  h6 {
    margin-top: 20px;
  }
  ul {
    padding: 0;
  }
}
